<section class="tab-content tab-inventory {{tab.cssClass}}" data-group="primary" data-tab="inventory">
	<!-- Load + Rider Row -->
	<div class="horse-inventory-header">
		<section class="horse-load boxed-section">
			<h2><i class="fas fa-weight-hanging"></i> {{localize "DOLMEN.Horse.LoadTitle"}}</h2>
			<div class="horse-load-grid">
				<div class="load-stat">
					<label>{{localize "DOLMEN.Horse.CurrentLoad"}}</label>
					<span class="load-value {{#if @root.overloaded}}overloaded{{/if}}">{{currentLoad}} / {{system.load}}</span>
				</div>
			</div>
		</section>
		<section class="horse-rider boxed-section">
			<h2>{{localize "DOLMEN.Horse.Rider"}}</h2>
			{{#if (eq system.riderType "actor")}}
			<div class="rider-row">
				<select name="system.riderActorId">
					<option value="">{{localize "DOLMEN.None"}}</option>
					{{#each @root.actorChoices}}
					<option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
					{{/each}}
				</select>
				{{#if @root.riderActor}}
				<a class="rider-open-btn" title="{{localize 'DOLMEN.Horse.OpenRider'}}">
					<img src="{{@root.riderActor.img}}" class="rider-portrait">
					<span class="rider-name">{{@root.riderActor.name}}</span>
				</a>
				{{/if}}
			</div>
			{{else}}
			<div class="rider-info">{{@root.riderLabel}} (<i class="fas fa-weight-hanging"></i> {{@root.riderWeight}})</div>
			{{/if}}
		</section>
	</div>

	<!-- Stowed Items + Coins Row -->
	{{#if @root.hasStorage}}
	<div class="horse-inventory-body">
		<section class="stowed-items inventory boxed-section" data-item-list="stowed">
			<h2><i class="fas fa-box"></i> {{localize "DOLMEN.Inventory.Stowed"}}</h2>
			<div class="item-list stowed-list" data-item-list="stowed">
				{{#if hasStowedItems}}
				{{#each @root.containers}}
				<div class="container-group" data-container-id="{{this.id}}" data-item-list="container">
					<div class="container-header" data-action="toggleContainer" data-container-id="{{this.id}}">
						<i class="fas fa-chevron-down container-toggle"></i>
						<img src="{{this.img}}" class="item-image">
						<span class="container-name">{{this.name}} <span class="container-capacity">(<i class="fas fa-weight-hanging"></i> {{this.coinsUsed}}/{{this.coinsMax}})</span></span>
						<span class="item-controls">
							<a class="item-control" data-action="openItem" data-item-id="{{this.id}}" title="{{localize 'DOLMEN.Edit'}}">
								<i class="fas fa-pen-to-square"></i>
							</a>
							<a class="item-control" data-action="deleteItem" data-item-id="{{this.id}}" title="{{localize 'DOLMEN.Inventory.Delete'}}">
								<i class="fas fa-square-x"></i>
							</a>
						</span>
					</div>
					<div class="container-contents">
						{{#if this.hasContents}}
						{{#each this.contents}}
						<div class="item-type-group {{this.typeLower}}">
							{{> "systems/dolmenwood/templates/horse/parts/item-group.html"}}
						</div>
						{{/each}}
						{{else}}
						<div class="item-list-empty container-empty">
							<span>Empty</span>
						</div>
						{{/if}}
					</div>
				</div>
				{{/each}}
				{{#if hasLooseStowedItems}}
				<div class="container-group saddle-storage-group" data-item-list="stowed">
					<div class="container-header" data-action="toggleContainer">
						<i class="fas fa-chevron-down container-toggle"></i>
						<i class="fa-solid fa-bag-shopping"></i>
						<span class="container-name">{{@root.saddleStorageName}} <span class="container-capacity {{#if @root.saddleOverweight}}overloaded{{/if}}">(<i class="fas fa-weight-hanging"></i> {{unsortedWeight}}{{#if @root.saddleStorageMax}}/{{@root.saddleStorageMax}}{{/if}})</span></span>
						<span class="item-controls"></span>
					</div>
					<div class="container-contents">
						{{#each stowedByType}}
						<div class="item-type-group {{this.typeLower}}">
							{{> "systems/dolmenwood/templates/horse/parts/item-group.html"}}
						</div>
						{{/each}}
					</div>
				</div>
				{{/if}}
				{{else}}
				<div class="item-list-empty">
					<span>{{localize "DOLMEN.Inventory.NoStowed"}}</span>
				</div>
				{{/if}}
			</div>
		</section>
		<section class="horse-coins boxed-section">
			<h2><i class="fas fa-coins"></i> {{localize "DOLMEN.Coins.Title"}}</h2>
			<div class="horse-coins-grid">
				<div class="coin">
					<label>{{localize "DOLMEN.Coins.Copper"}}</label>
					<div class="coin-input">
						<i class="fa-duotone fa-light fa-coin coin-icon coin-copper"></i>
						<input type="number" name="system.coins.copper" value="{{system.coins.copper}}" min="0">
					</div>
				</div>
				<div class="coin">
					<label>{{localize "DOLMEN.Coins.Silver"}}</label>
					<div class="coin-input">
						<i class="fa-duotone fa-light fa-coin coin-icon coin-silver"></i>
						<input type="number" name="system.coins.silver" value="{{system.coins.silver}}" min="0">
					</div>
				</div>
				<div class="coin">
					<label>{{localize "DOLMEN.Coins.Gold"}}</label>
					<div class="coin-input">
						<i class="fa-duotone fa-light fa-coin coin-icon coin-gold"></i>
						<input type="number" name="system.coins.gold" value="{{system.coins.gold}}" min="0">
					</div>
				</div>
				<div class="coin">
					<label>{{localize "DOLMEN.Coins.Pellucidium"}}</label>
					<div class="coin-input">
						<i class="fa-duotone fa-light fa-coin coin-icon coin-pellucidium"></i>
						<input type="number" name="system.coins.pellucidium" value="{{system.coins.pellucidium}}" min="0">
					</div>
				</div>
			</div>
		</section>
	</div>
	{{/if}}
</section>
